// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.p-top_title{
  font-family:'TsukuARdGothic-Regular';
  margin-bottom:20px;
}

.p-top_txt{
    margin-bottom: 36.75px;
    font-size: 15px;
    line-height: 36px;
}


.p-top_btn a{
  position: relative;
  display: inline-block;
  padding: 0.6em 1em;
  text-decoration: none;
  color: #4B4F50;
  background: #BFE6F2;/*色*/
  border: solid 1px #DFF2F9;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.p-top_btn a:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}
.btn_login{
  display:inline-block;
}

.btn_signup{
  display:inline-block;
  padding-right:128px;
}

.btn_2{
  padding-bottom:35px;
  text-align:center;
}

.p-top_text{
  float:left;
  padding-left:none;
}

.slideshow{
  float:right;
  padding-right:none;
}